name: Update proxies

on:
  workflow_dispatch:
  schedule:
    - cron: '0/25 * * * *' 

permissions:
  contents: write

  
jobs:
  update:
    name: Update the files
    runs-on: ubuntu-latest
    env:
        GITHUB_TOKEN: ${{ secrets.TTK }}
        author: LogiqueBot
        workdir_name: ../workdir

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1  # Fetch all history for git push/rebase

    - uses: actions/setup-python@v4
      with:
        python-version: '3.12'
      

    - name: Clean proxies folder
      run: rm -rf ${{github.workspace}}/proxies 

    - name: refresh channels
      run: |
        pip install aiohttp telethon

        python3 ${{github.workspace}}/.github/refresh_channels.py

      env:
        SESSION: ${{secrets.SESSION}}
        API_ID: ${{secrets.API_ID}}
        API_HASH: ${{secrets.API_HASH}}

        
    - name: Run updater
      run: python3 updater/updater.py "${{github.workspace}}"


    - name: Run checker
      run: |
        cp ${{github.workspace}}/.github/v2json.py ${{github.workspace}}/checker/
        python3 checker/checker.py

        rm -rf proxies/tvc/mixed.txt


    - name: Commit changes
      run: |
        git config --global user.name "${{ env.author }}"
        git config --global user.email "qq623589@gmail.com"
        
        git add proxies
    
        git commit -a -m "Updated at $(TZ='Asia/Tehran' date '+%Y-%m-%d %H:%M %Z')" --allow-empty
    
        git push
